extends layout

block content
  h1 Benchmark your api
  p 
    | Performances are important. In the SOA's popularity peak time if your api sucks on performances your entire stack cries.
    br
    br
    | For this reason I'm writing a little node.js tool that measures and compares performances of single and multiple apis.
    br
    | It is open-source, on 
    a(href="https://github.com/matteofigus/api-benchmark") github
    |  and on the 
    a(href="https://npmjs.org/package/api-benchmark") npm registry
    | .
    br
    | You can use it do write specific acceptance tests on your application, or integrate it on your CI platform. 
    br
    br
    | I also use 
    a(href="http://gruntjs.com/") Grunt
    |  a lot, so I'm also mantaining a 
    a(href="https://github.com/matteofigus/grunt-api-benchmark") simple grunt module
    |  to integrate it with Teamcity and Travis (and, potentially, with whatever you want that can run node.js).
    br
    | Again, it is free, on  
    a(href="https://github.com/matteofigus/grunt-api-benchmark") github
    |  and on the 
    a(href="https://npmjs.org/package/grunt-api-benchmark") npm registry
    | , and you're free to try, fork, and criticize.
    br
    br
    | I created this website to get feedbacks and opinions about that. So, please do it via 
    a(href="http://twitter.com/matteofigus") twitter
    |  or 
    a(href="#", data-uv-trigger="true") user voice
    | .
    br
    br
    | Obviously, feel free to fork, send pull requests and create issues on github as well. Thank you.